.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}

.navbar img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding-right: 30px;
    border-radius: 15%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
    position: static; /* keep normal flow for desktop */
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-open,
.nav-mob-close {
    display: none; /* hidden by default */
}

/* MOBILE STYLES */
@media (max-width: 768px) {
    .navbar {
        margin: 20px 30px;
        
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        top: 20px;
        right: 0;
        width: 10px;
        height: 10px;
        cursor: pointer;
        z-index: 200; /* keep above everything */
    }

    .nav-mob-close {
        display: block; 
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 300;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -350px; /* hidden by default */
        gap: 30px;
        background-color: #1F0016;
        width: 230px;
        height: 100%;
        z-index: 250;
        transition: right 0.5s ease-in-out;
        padding: 60px 20px 20px; /* space for close button */
    }

    .nav-menu li {
        font-size: 24px;
        padding-left: 20px;
        flex-direction: row;
        gap: 20px;
    }
}
