.footer-top-left img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.footer{
    margin: 50px 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 5px;
}
.footer-email-input input{
    background: transparent;
    border: none;
    color: #a0a0a0;
    font-size: 13px;
    font-weight: 600;
    font-family: Outfit;
    
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 30px;
    border-radius:50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;

}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width: 768px){
    .footer{
        margin: 50px 0px;
        width: 95%;
        align-items: center;
    }
    .footer-top{
        flex-direction: column;
        gap: 40px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .footer-bottom-right{
        font-size: 13px;
    }
    .footer hr{
        width: 97%;
    }
    .footer-email-input input{
        width: 45%;
    }
.footer-email-input{
    width: 48.5%;
}
}